
<h3 class="p-3 text-center">Customer Data</h3>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Password</th>
                <div>
                  <th>Branch Name</th>
                  <th>Branch Mail</th>
                  <th>Branch Phone</th>
                  <th>Branch City</th>
                  <th>Branch Address</th>
                  <th>Branch Type</th>
                  <th>Branch Business</th>
                </div>
                

            </tr>
        </thead>
        <tbody>

         

     
               <tr>
                <td >{{csname}} </td>
                <td>{{csmail}}</td>
                <td>{{csphn}}</td>
                <td>{{cspsw}}</td>
                 <div *ngFor="let list of branch_data">
                  <td>{{list.brname}} </td>
                  <td>{{list.bremail}}</td>
                  <td>{{list.brphn}}</td>
                  <td>{{list.city}}</td>
                  <td>{{list.adrs}}</td>
                  <td>{{list.type}}</td>
                  <td>Marketing</td>
                 </div>
                
               </tr>
            

            <!-- <tr *ngFor="let i of form_data">
                <td>{{i.cusname}}</td>
                <td>{{i.email}}</td>
                <td>{{i.phn}}</td>
                <td>{{i.password}}</td>
                <td>{{i.brname}}</td>
                <td>{{i.bremail}}</td>
                <td>{{i.brphn}}</td>
                <td>{{i.city}}</td>
                <td>{{i.adrs}}</td>
            </tr> -->
        </tbody>
    </table>
</div>